/** @format */
.titleBar{
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: solid 1px rgb(40,121,236); */
  box-shadow: rgba(40,121,236, 20%) 0px 2px 1px;
}
#adminName{
  font-size: 17px;
  position: fixed;
  right: 130px;
}
.logoAdmin img{
  object-fit: cover;
  width: 150px;
  padding-left: 9%;
}
.adminPanel {
  height: 100%;
  width:15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(40,121,236);
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.adminPanel ul {
  list-style: none;
  color: black;
  line-height: 1.8;
  font-size: .9rem;
  text-align: start;

}

.adminPanel ul li {
  color: white;
  text-align: start;

}

.adminPanel a {
  color: white;
  font-size: .9rem;
  margin-top: 2%;
}

#adminLogout {
  position: fixed;
  right: 30px;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color:black;
  cursor: pointer;
  border-radius: 5px;
}

.titleUl{
  padding-top: 30%;
  border-bottom: solid 1px white;
  cursor: default;
}

#titleA{
  font-size: 17px;

}

.adminPanel a:hover {
  color: black;
  background-color: white;
  border-radius: 3px;
}