/** @format */
.titleBar{
  height: 7%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logoAdmin img{
  object-fit: cover;
  width: 150px;
  padding-left: 9%;
}
.adminPanel {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(40,121,236);
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.adminPanel ul {
  list-style: none;
  color: black;
  line-height: 1.8;
  font-size: .9rem;
}

.adminPanel ul li {
  color: black
}

.adminPanel a {
  color: b
  /* font-size: 1.2rem; */
}

#adminLogout {
  position: fixed;
  right: 10px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  background-color:rgb(4, 81, 140);
  cursor: pointer;
  border-radius: 5px;
}
