/** @format */

.workerInfoInService {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: flex-start;
  border-radius: 3px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  /* gap: 1rem; */
  padding: 1rem;
  margin-bottom: 2rem;
}

.workerLst {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.worker_info {
  color: #3b3b3b;
}
.worker_info > * {
  padding: 0.5rem 0;
}
.workerInfoInService img {
  width: 300px;
  height: 200px;
  border-radius: 3px;
}
.service_btn {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.service_btn button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 1rem;
  background-color: rgb(4, 81, 140);
  margin: 10px;
  border-left: solid 5px rgb(255, 211, 51);
  cursor: pointer;
}

.workerInfoInService button:hover {
  color: white;
  border: none;
  background-color: #2790bd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-left: solid 5px #ffd333;
}
.popup_form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  position: relative;
  bottom: 50vh;
  right: 0;
  gap: 5px;
  padding: 0.5rem;
  background-color: #d4d4d49d;
  border-radius: 4px;
}
.popup_form input {
  background-color: #2790bd70;
  color: #3b3b3b;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}
.popup_form button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 1rem;
  background-color: rgb(4, 81, 140);
  border-left: solid 5px rgb(255, 211, 51);
  cursor: pointer;
}
.popup_form i {
  color: rgba(255, 0, 0, 0.747);
  font-size: 1.2rem;
}
