.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart_header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.cart_nav_box ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
}
.cart_nav_box ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cart_nav_box ul > li > img {
  width: 2.5rem;
  height: 2.5rem;
}
.cart_title {
  font-size: 1.5rem;
}
.cart_box {
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(94, 94, 94, 0.541);
  padding: 1rem 0;
}
.info_center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info_center span {
  font-size: 1.5rem;
}
.info_box_cart{
  display: flex; 
  justify-content: space-evenly;
 align-items: center;
}
.cart_img_box {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cart_img_box div img {
  width: 8vw;
  height: auto;
}
.buy_box span {
  font-size: 1.5rem;
  font-weight: bold;
}
.buy_box button {
  width: 8rem;
}
.payment_box_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.payment_box_info div > * {
  font-size: 1.5rem;
  margin: 0 .5rem;
  color: rgb(70, 68, 66);
}
