.wishlist_box {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(94, 94, 94, 0.541);
  padding: 1rem 0;
}

.btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1rem;
}
.wishlist_btn {
  font-weight: bold;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}
.icon_style_add {
  color: #43d63e;
  font-size: 1rem;
}
.icon_style_remove {
  color: #f22626;
  font-size: 1rem;
}
