.wishlist_box {
  display: grid;
  grid-template-columns: 5fr 1fr 3fr;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(94, 94, 94, 0.541);
  padding: 1rem 0;
}
/* @font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
      url("./fonts/OpenSans-Regular-webfont.woff") format("woff");
    font-weight: bold;
    font-display: swap;
  }
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans";
    font-weight: 400;
  } */

/* .Wishlist { */
/* background-image: url(https://thumbs.dreamstime.com/b/auto-mechanic-s-tools-white-background-flat-lay-space-text-auto-mechanic-s-tools-white-wooden-background-flat-lay-space-168999334.jpg); */
/* background-image: url("../../image/wishlist.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center; */
/* background-color: rgb(182, 211, 255); */
/* height: 660px; */
/* padding: 5px; */
/* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
/* padding-top: 5px; */
/* display: grid;
  grid-template-columns: repeat(2, 1000px); */
/* } */
/* .box { */
/* position: sticky; */

/* width: 1200px; */
/* display: flex; */
/* flex-direction: row; */
/* justify-content: right; */
/* } */

/* .wishlist_box {
  text-align: center;
  border: solid 1px #dddbdb;
  display: grid;
  grid-template-rows: repeat(4, 1.5fr);
  background-color: white;
  height: 410px;
  width: 300px;

  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-right: 1000px;
  /* margin-left: 150px; */
/* margin-bottom: 50px; */
/* } */

/* margin: 10px; */
/* border-bottom: solid 1px rgb(0, 156, 215);
      border-right: solid 1px rgb(0, 156, 215); */

/* .info_box_flex_column {
  font-family: 'Bebas Neue', cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: large;
} */

/* .Wishlist_title {
  background-color: rgb(236, 13, 13);
  padding-top: 25px;
  padding-left: 25px;

  font-family: "Bebas Neue", cursive;
} */

/* .wishlist_delete {
  width: 120px;
  margin: 5px;
  height: 50px;
  background-color: rgb(236, 13, 13);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: seashell;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 160px;
} */

/* .wishlist_add_cart {
  width: 120px;
  margin: 5px;
  height: 50px;
  background-color: rgb(26, 236, 78);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: rgb(26, 24, 24);
  font-size: large;
  align-items: center;
  margin-top: -55px;
  margin-left: 20px;
} */

/* .note {
  padding-top: 60px;
  width: 600px;
  border: solid 2px #dddbdb;
} */

/* .noteBttn {
  width: 120px;
  margin: 5px;
  height: 50px;
  background-color: rgba(177, 188, 189, 0.897);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: rgb(26, 24, 24);
  font-size: large;
  align-items: center;
  margin-top: -55px;
    margin-left: 20px;
} */
.btn_box {
  align-self: flex-start;
  padding: 0;
}
.wishlist_btn {
  font-weight: bold;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}
.icon_style_add {
  color: #43d63e;
  font-size: 1rem;
}
.icon_style_remove {
  color: #f22626;
  font-size: 1rem;
}
