/** @format */

.servicePage {
  background-color: white;
  /*
    display: flex;
    flex-direction: column;
    align-items: center; */
  padding: 2% 5% 5% 5%;
  padding-left: 3%;
  padding-right: 3%;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.service {
  border: none;
  display: grid;
  background-color: white;
  margin: 1.25em;
  height: 65vh;
  border-radius: 3px;
  border-bottom: solid 1px rgb(255, 211, 51);
  border-right: solid 1px rgb(255, 211, 51);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px 0px;
}

.service button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 17px;
  width: 60%;
  background-color: rgb(4, 81, 140);
  margin-bottom: 10px;
  border-left: solid 5px rgb(255, 211, 51);
  cursor: pointer;
}

.service button:hover,
.cart_btn:hover {
  color: white;
  border: none;
  background-color: #2790bd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-left: solid 5px rgb(255, 211, 51);
}

.service img {
  width: 100%;
  height: 200px;
  border-radius: 3px 3px 0px 0px;
}

.pageTitle {
  position: relative;
  text-align: center;
  margin-left: 32%;
  margin-right: 32%;
  padding-bottom: 3%;
}
.pageTitle h1 {
  border: solid 1px rgb(255, 211, 51);
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 3px;
}

.pageTitle p {
  color: rgb(255, 211, 51);
  padding-top: 3%;
}

.headPicLogo {
  position: absolute;
  top: -14px;
  right: calc(50% - 14px);
  width: 28px;
  height: 28px;
}
