/** @format */

.homePage {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 3.5rem;
  border: none;
  margin: 20px;
}
.img_box img {
  width: 150px;
  height: 150px;
}
.item {
  text-align: center;
  border: solid 1px #dddbdb;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  background-color: white;
  width: 250px;
  height: 400px;

  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: transform 0.1s;
}

.title {
  padding: 10px;
}

.categories {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 63px;
  z-index: 1;
  border-bottom: solid 3px rgb(57, 208, 177);
}

.categories ul {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  list-style: none;
}

.categories ul li{
display: flex;
justify-content: center;
align-items: center;
}

.categories ul:hover {
  cursor: pointer;
}

.categories input {
  width:300px;
  height: 40px;
}

.item:hover {
  transform: scale(1.01);
  border: solid 1px #ffd333;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.item button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 17px;
  width: 90%;
  background-color: #04518c;
  margin-bottom: 10px;
  border-left: solid 5px rgb(255, 211, 51);
  cursor: pointer;
}

.item button:hover {
  color: white;
  border: none;
  background-color: #2790bd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-left: solid 5px rgb(255, 211, 51);
}

.info_box {
  padding-top: 10px;
  font-size: 0.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Hadar img {
  width: 100%;
}

.pagination_box {
  align-content: center;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.pagination_box a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgb(255, 211, 51);
  color: #2790bd;
  cursor: pointer;
}
.pagination_box a:hover {
  color: white;
  background-color: #2b2eff;
}
.paginationActive a {
  color: white;
  background-color: #2790bd;
}
.paginationDisabled a {
  display: none;
}

.filter_box {
  width: 80vw;
  padding: 5px;
  /* position: sticky;
  top: 133px; */
}

.filter_box div {
  max-width: 30vw;
  margin: 0 auto;
  font-size: 20px;
}
