
.NavBar{
    font-weight: bold;
    width: 100%;
    height: 100px;
    background-color: white;
    display: grid;
    /* opacity: 10%; */

    position: relative;
    top: 2.5em;
    position: sticky;
    top: 0;
}
.Link{
    background-color: rgb(242, 242, 242);
    height: 50px;
    align-items: center;
}
.NavBar a{
    color: black;
    padding-top: 10px;
    padding-right: 70px;
    font-size: 20px;
}

.NavBar a:focus{
    color: black;

}