.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}
.payment_box_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.payment_box_info div > * {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: rgb(70, 68, 66);
}
.cart_nav_box ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem 0;
}
.cart_nav_box ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cart_nav_box ul > li > img {
  width: 2.5rem;
  height: 2.5rem;
}
.cart_title {
  font-size: 1.5rem;
}
.cart_box {
  display: grid;
  grid-template-columns: 4fr 1.5fr 1fr 1fr 1fr;
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(94, 94, 94, 0.541);
  padding: 1rem 0;
  align-items: center;
}
.info_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.info_center span {
  font-size: 1.5rem;
}

.cart_img_box {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cart_img_box div img {
  width: 8vw;
  height: auto;
}
.cart_header {
  width: 30%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  border-bottom: 1px solid black;
  gap: 1rem;
  margin-left: 8%;
  padding: 0;
}

.buy_box {
  display: flex;
  gap: 0.5rem;
}
.buy_box button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 17px;
  width: 100%;
  background-color: #04518c;
  margin-bottom: 10px;
  border-left: solid 5px rgb(255, 211, 51);
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.buy_box button:hover {
  color: white;
  border: none;
  background-color: #2790bd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-left: solid 5px rgb(255, 211, 51);
}
.price_box {
  color: rgb(105, 92, 92);
}
.price_box span {
  font-size: 1.2rem;
  font-weight: bold;
}
.cart_btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 1rem;
  background-color: rgb(4, 81, 140);
  border-left: solid 5px rgb(255, 211, 51);
  cursor: pointer;
}
.counter_price {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.counter_price span {
  border: 1px solid #9c9494;
  width: 1rem;
  text-align: center;
  color: #9b9a9a;
}
.counter_price p span {
  border: none;
  color: #000;
}
