/** @format */

.showServiceAdmin {
    height: 81%;
    width: 84%;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 210px;
    transition: 0.5s ease;
    overflow-x: hidden;
    padding-bottom: 5%;
  }
