

.footer{
/* height:auto; */
width:auto;
background-color:darkgrey ;
margin-top: 30px;
display: flex;
flex-direction: row;
}

.secondContainer{
display: flex; 
 flex-direction: column;
 padding-top: 30px; 

/* gap: 50px; */
}
.socContainer{
display: flex;  
flex-direction: row; 
justify-content: center;
color: black;

column-gap: 150px; 
   /* display: inline-block; */
    /* padding-left: 300px;*/
    /* padding-left: 500px;  */
    /* display: inline-flexbox; */
/* align-items: right; */
    
}
.social{
list-style: none;
font-size: larger;
padding-top: 15px; 

    /* display: inline-block; */
    /* padding-top: 30px;  */
}


.duty{
    padding-top: 15px; 
    padding-left: 200px; 


}
/* .paym{



} */



.social {
    /* list-style: none; */
        /* display: inline-block; */
        /* padding-top: 30px;  */
        /* margin: 10px; */

        font-size: larger;
        color: black;

        list-style: none;
        padding-top: 15px; 
        margin-left: 70px; 

    }

    .social li {
        margin: 10px; 
text-decoration: none;
}

.social li a{
    /* margin: 10px;  */
text-decoration: none;
color: black; 
}
.impLink {
    /* padding-top: 30px;  */
    font-size: larger;
    color: black;

    /* list-style: none; */
    padding-top: 15px; 
    list-style: none;
    font-size: larger;
    color: black;

    list-style: none;
    padding-top: 15px; 

}
.impLink li{
    /* margin: 10px;  */
    /* color: black; */
    /* text-decoration: none; */
    color: black; 
    margin: 10px; 
    text-decoration: none;

}
Link{
    /* margin: 10px;  */
    /* color: black; */
    /* text-decoration: none; */
    color: black; 
    margin: 10px; 
text-decoration: none;
color: black; 

}

.impLink li Link{
    /* margin: 10px;  */
    /* color: black; */
    /* text-decoration: none; */
    color: black; 
    margin: 10px; 
    text-decoration: none;

}
.gg{
    color: black; 


}