/** @format */

.profile {
  display: flex;
  /* gap: 10%; */
}

.reqGroup {
  padding-top: 10%;
}

.reqGroup th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(4, 81, 140);
    color: white;
  }

.reqUser {
  display: grid;
}

.editProfile {
  position: fixed;
  top: 20%;
  left: 20%;
}

.profileInfoS {
    padding: 2%;
  display: flex;
  flex-direction: column;
 align-items: center;
 
}

.profileInfoS img {
  width: 200px;
  border-radius: 50%;
}
