*{
 margin: 0%; 
}

.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

input {
  width: 95%;
  height: 7vh;
  border: 2px solid #aaa;
  border-radius: 3px;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: 0.3s;
}
button {
  border: solid 1px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
button:active {
  border-color: #40bb75;
  box-shadow: 0 0 8px 0 #40bb75;
}
input:focus {
  border-color: #40bb75;
  box-shadow: 0 0 8px 0 #40bb75;
}


.flex_column {
  display: flex;
  flex-direction: column;
}

.logo{
background-color: white;
text-align: center;
}

.logo img{
  background-color: white;
  padding-top: 20px;
 padding-bottom: 10px;
 /* width: 18%; */
 object-fit: cover;
}

