/** @format */

.showItemAdmin {
  height: 81%;
  width: 84%;
  position: fixed;
  z-index: 1;
  top: 65px;
  left: 210px;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-bottom: 5%;
}

.head_table {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 0.5rem 0;
}
.showItemTable table {
  font-family: arial, sans-serif;
  width: 90%;
  margin: 0 auto;
}

.showItemTable th {
  padding-top: 12px; 
  padding-bottom: 12px;
  text-align: center; 
  background-color: rgb(40, 121, 236);
  color: white;
}

.showItemTable td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 0.5rem;
}
.showItemTable td input{
  padding: 0px;
  margin: 0px;
}
.showItemTable tr:nth-child(even) {
  background-color: #dddddd;
}
/* tr:hover {
  background-color: #ddd;
} */
.icon {
  width: 40px;
}
.btn {
  cursor: pointer;
}
.input_box {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin: 0 auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #ccc;
  border-radius: 4px;
  padding: 20px;
  position: fixed;
  background: #ffffff;
  width: 940px; 
  top: 110px;
  left: 270px;
}
.input_box > * {
  width: 90%;
}
.esc {
  color: red;
  position: fixed;
  left: 45%;
}
.add {
  background-color: #ccc;
}

.add i svg {
  color: rgb(0, 148, 0);
}
.addUpdateBTN button{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 17px;
  background-color: rgb(4, 81, 140);
  margin: 10px;
  border-left: solid 5px rgb(255, 211, 51);
  cursor: pointer;
}

.addUpdateBTN button:hover{
  color: white;
  border: none;
  background-color: #2790bd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-left: solid 5px rgb(255, 211, 51);
}