.addItemAdmin {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;    margin: 0 auto;
 background: #ccc;
    border-radius: 4px;
    padding: 20px;
    position: fixed;
    background: #ffffff;
    width: 940px; 
    top: 70px;
    left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.addItemAdmin h1{
    border-bottom: solid 1px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
  .addItemAdmin input{
    font-family: FontAwesome;
    font-size: 1.25em;
    width: 80%;
    border: none;
    background-color: white;
    color: black;
    border-bottom: solid 1px rgb(163, 159, 159);
  }
  .addItemBTN button{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    border: none;
    font-size: 17px;
    background-color: rgb(4, 81, 140);
    margin: 10px;
    border-left: solid 5px rgb(255, 211, 51);
    cursor: pointer;
    width: 200px;
  }
  
  .addItemBTN button:hover{
    color: white;
    border: none;
    background-color: #2790bd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-left: solid 5px rgb(255, 211, 51);
  }

  #file-upload-button{
    background-color: rgb(4, 81, 140);
    width: 1000px;
  }