/** @format */
.img_boxI {
  display: flex;
  padding-left: 50px;
  margin-left: 150px;
}

.info_boxI {
  padding-left: 200px;
}

.info_boxI ul {
  font-size: 16px;
  padding-top: 10px;
  list-style: none;
}

.info_boxI ul li {
  padding-top: 10px;
}

.titleI {
  padding: 2%;
  font-size: 18px;
  margin-left: 30px;
}

.itemI {
  width: 300px;
  margin-top: 10px;
  height: 300px;
}

.sub_titleI {
  display: flex;
  font-size: 18px;
  text-align: start;
  margin-left: 60px;
}

.sub_titleI p {
  margin-right: 480px;
}

.tool {
  height: 250px;
  padding-left: 50px;
  /* padding-right: 8%; */
}

.list_title {
  font-size: 18px;
}

.info_boxI button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 15px;
  width: 40%;
  background-color: rgb(4, 81, 140);
  margin: 10px;
  border-left: solid 5px #ffd333;
  cursor: pointer;
}

.info_boxI button:hover {
  color: white;
  border: none;
  background-color: #2790bd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-left: solid 5px #ffd333;
}

.price {
  font-size: 28px;
  margin: 30px;
}

.back_icon {
  background-color: #2790bd;
  border-radius: 30%;
  color: #ffd333;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 0 0 8px #2790bd;
}
