.item_info_box {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.titleI{
  padding: 2%;
font-size: 30px;
margin-left: 340px;
}

.img_boxI img{
  width: 250px;
}

.sub_titleI{
  padding: 2%;
  font-size: 20px;
  margin-left: 340px;
text-align: start;
}