/** @format */

.item_info_box {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.titleI {
  padding: 2%;
  font-size: 30px;
  margin-left: 240px;
}

.itemI {
  width: 250px;
  padding: 0px;

}

.sub_titleI {
  font-size: 20px;
  text-align: start;
  margin-left: 270px;
}

.tool {
  height: 200px;
  padding-left: 200px;
  padding-right: 4%;
}
