/** @format */

.createWorker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(4, 81, 140);
  height: 77vh;
}

.worker {
  border-radius: 5px;
  width: 50%;
  padding: 2% 5% 2% 5%;
  margin-top: 1%;
  background-color: white;
}

.worker button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  font-size: 19px;
  width: 20%;
  height: 40px;
  background-color: rgb(4, 81, 140);
  margin-bottom: 1px;
  border-left: solid 5px rgb(255, 211, 51);
  margin-top: 2%;
}

.worker button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(39, 144, 189);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgb(255, 211, 51) 0px 1px 1px -5px;
}

.worker input {
  margin-top: 2%;
  font-family: FontAwesome;
  font-size: 1.25em;
  border: none;
  background-color: white;
  color: black;
  border-bottom: solid 1px rgb(163, 159, 159);
}

.selectServiceForWorker{
    margin-top: 2%;
    font-family: FontAwesome;
    font-size: 1.25em;
    border: none;
    background-color: white;
    color: black;
    border-bottom: solid 1px rgb(163, 159, 159);
} 