.register{
  background-color: rgb(4, 81, 140);
  display: flex;
 justify-content: center;
 padding: 5%;
 
}
.register form {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Times,
    serif;
  background-color: white;
  padding: 2% 0% 0% 0%;
  text-align: center;
  border: solid 1px 1px 1px 0px;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.register form button {
  color: #40bb75;
  background-color: white;
}
.register form input {
  font-family: FontAwesome;
  font-size: 1.25em;
  width: 300px;
  border: none;
  background-color: white;
  color: black;
  border-bottom: solid 1px rgb(163, 159, 159);
}
.logo{
  margin: 0%;
  padding: 0%;
}
.register img{
  width: 100%;
height: 100%;
}

.group{
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2,4fr);
  grid-template-rows: repeat(2,4fr);
  height: 400px;
  object-fit: contain;

}