.register{
  background-color: rgb(4, 81, 140);
}
.register form {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, Times,
    serif;
  background-color: white;
  margin: auto;
  padding: 2% 4% 0% 4%;
  border: solid 1px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.register form button {
  color: #40bb75;
  background-color: white;
}
.register form input {
  border: solid 1px;
  background-color: white;
  color: #0f6836;
  font-size: 15px;
}
