/** @format */

.NavBar {
  font-weight: bold;
  background-color: white;
  display: grid;
  z-index: 1;
  position: sticky;
  top: 0;
}
.Link {
  background-color: rgb(4, 81, 140);
  height: 60px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: solid 3px #ffd333;
}
.NavBar div {
  display: flex;
  justify-content: center;
  gap: 5%;
}
@media screen and (max-width: 600px) {
  .Link {
    height: 40px;
    padding: 3px;
  }
  .NavBar div {
    display: flex;
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .NavBar div a {
    font-size: 0.7rem;
  }
}
.NavBar a {
  color: white;
  padding: 1%;
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
}

.NavBar a:hover {
  color: black;
  background-color: #ffd333;
  border-radius: 5px;
}
